* {
  padding: 0;
  margin: 0;
}

header {

  background-color: white;
  margin: 0 auto;

  .flexHeader {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 0px;

  }

  .list a {
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-bottom: 3rem 0;
  }

  .comics {
    color: #2384fa;
    border-bottom: 3px solid #2384fa;

  }

  img {
    width: 100px;
    height: 100px;
  }

  .comingSooon {
    background-color: black;
    color: white;
    padding: 3rem;
    padding-left: 200px;
  }

}